@import url("https://fonts.googleapis.com/css?family=Public+Sans:300,400&display=swap");

:root {
	--col-bright-cyan: 	hsl(192, 70%, 51%);
	--col-dark-blue: 	#2d314d;
    --col-lime-green: hsl(136, 65%, 51%);
    --col-test: linear-gradient(to right, var(--col-lime-green),var(--col-bright-cyan));
    --col-white: #FFFFFF;
    --col-light-grey: 	#fafafa;
    --col-grayish-blue: #9698a6;
    --col-light-grayish-blue: #f3f4f6;
}

html , body{
	margin: 0;
	padding: 0;
    font-family: 'Public Sans';
    font-size: 18px;
    font-weight: 300;
}

.button{
    width: 160px;
    height: 40px;
    color: var(--col-white);
    box-sizing: border-box;
    border-radius: 19px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    background: linear-gradient(to right, var(--col-lime-green),var(--col-bright-cyan));
    cursor: pointer;
}

.button:hover{
    opacity: 0.65;
}

/* nav bar styling */

.topNav{
    overflow: hidden;
    padding: 30px 0 0 0;
    margin: 0;
    background-color: var(--col-white);
    height:80px;
    width:100%;
    display:flex;
}

.logo-container{
    width:25%;
    margin-left: 150px;
}

.middle-topNav{
    width: 370px;
}

.middle-topNav a{
    margin-left: 15px;
    color: var(--col-grayish-blue);
    padding: 0px 0px 20px 0px;
    cursor: pointer;
}

.middle-topNav a:hover {
    border-bottom: 4px solid;
    color: var(--col-dark-blue);
    border-bottom-color:  var(--col-lime-green);
    /* transform: scaleX(0);
    transition: transform 250ms ease-in-out; */
}

.right-topNav{
    margin-left: 200px;
    margin-top: -10px;
}

/* body */

.intro-container{
    width: 100%;
    height: 655px;
    margin-top: -33px;
    background: var(--col-light-grey);
    display: flex;
    /* background-image: url("./assets/bg-intro-desktop.svg");
    background-size: fixed;
    background-repeat: no-repeat;
    background-position: right; */
}

.intro-container-left{
    width: 45%;
    height: 100%;
}

.intro-container-right{
    height: 100%;
    width: 55%;
    background-image: url("./assets/bg-intro-desktop.svg");
    top: -115px;
  left: 117px;
  z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: absolute;
    
}

.header1{
    width: 400px;
    margin: 30% 0 4% 30%;
    font-size: 45px;
    font-weight: 300;
    color: var(--col-dark-blue);
}

.header2{
    padding: 2% 0px 0px 11.5%;
    font-size: 45px; 
    font-weight: 300;
    color: var(--col-dark-blue);
}

.content{
    width: 450px;
    text-align: left;
    line-height: 1.6;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 4%;
    color: var(--col-grayish-blue);
}

#content{
    margin-top: -4%;
    width: 640px;
}

#intro-left{
    margin-left: 30%;
}

.intro-container-right-right{
    overflow: hidden;
    height: 110%;
    margin-left: 25%;
    background-image: url("./images/image-mockups.png");
    background-size: contain;
    background-repeat: no-repeat;
    
}

.features-container{
    height: 675px;
    background-color: var(--col-light-grayish-blue);
    margin-top: -60px;
}

.features,.article{
    display: flex;
    margin-left: 11.5%;
}

.individual-feature{
    margin-right: 30px;
    margin-top: 2%;
    width:275px;
    height: 41%;
}

.Fheader{
    margin-top: 25px;
    margin-bottom: 0%;
    font-size: 25px; 
    font-weight: 200;
    color: var(--col-dark-blue);
}

.Fcontent{
    width: 100%;
    text-align: left;
    line-height: 1.6;
    font-size: 17px;
    font-weight: 300;
    color: var(--col-grayish-blue);
}

.articles{
    height:660px;
    width: 100%;
    background-color: var(--col-light-grey);
}

#Aheader{
    margin: 0 0 50px 0;
    padding-top: 6%;
}

.individual-article{
    width: 258px;
    background-color: var(--col-white);
    margin-right: 30px;
}

.image{
    width: 100%;
    height: 200px;
}

.title{
    color: var(--col-grayish-blue);
    font-size: 12px;
    margin-top: 30px;
}

.Abody{
    padding: 0px 25px;
}

.Acontent{
    color: var(--col-grayish-blue);
    font-size: 15px;
}

.individual-article a{
    color: var(--col-dark-blue);
    width: 150px;
}

.individual-article a:hover{
    color: var(--col-lime-green);
    cursor: pointer;
}

/* footer */
.footer{
    height: 191px;
    background-color: var(--col-dark-blue);
    display: flex;
}

.footer-left{
    margin-left: 165px;
}

.footer-svg, .logo{
    padding-top:50px;
    display: flex;
    width: 155px;
    justify-content: space-evenly;
}

.footer-list{
    margin-left: 130px;
    margin-top: 35px;
    display: block;
    color: var(--col-white);
    font-size: 15px;
}

.footer-list p:hover, .footer-svg svg{
    color: var(--col-lime-green);
    cursor: pointer;
    fill: var(--col-lime-green)
}

.footer-right{
    margin-left: 320px;
    margin-top: 50px;
    color: var(--col-grayish-blue);
    font-size: 15px;
    font-weight: 300;
}

.footer-right button{
    margin-left: 70px;
    margin-bottom: 12px;
}